<nav>
    <a href="/A/List"   class="button-link"> רשימת משימות</a> 
    <a href="/A/plan"   class="button-link"> הוסף משימה</a> 
    <a href="/cat/List" class="button-link"> ניהול קטגוריות</a> 
    <a href="/U/List"   class="button-link"> ניהול משתמשים</a>
</nav>
<hr>
