<!doctype html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>תכנון משימה</title>
</head>
<body>
    <h1>תכנון משימה</h1>
    <form action="" method="post">
        <label for="due_date">תאריך יעד</label>
        <input type="date" name="due_date" id="due_date" required>
        <br>
        <label for="description">תיאור המשימה</label>
        <input type="text" name="description" id="description" maxlength="200" required>
        <br>
        <label for="category_id">קטגוריה</label>
        <select name="category_id" id="category_id" required>
            <% for(let category  of categories){ %>
                <option value="<%= category.id %>"><%= category.name %></option>
            <% } %>
        </select>
        <br>
        <label for="done">
            <input type="checkbox" name="done" id="done" value="1">
            המשימה בוצעה
        </label>
        <br>
        <button type="submit">שמור</button>
    </form>
</body>
</html>
